@import "vars";

.top-cart {
    height: 400px;
    background-image: url(../img/background/cart-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-cart__content {
    margin-top: 127px;

    .top-cart__title {
        color: $text-main-color;
        font-size: 64px;
        font-weight: 600;
        line-height: 70px;
    }
}

.cart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    &__content {
        display: flex;
        flex-direction: column;
        grid-column: span 8;
    }

    &__header {
        width: 756px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__header > p {
        color: $text-alt-color;
        font-size: 16px;
        font-weight: 400;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        border-top: 0.5px solid #cacdd8;
        padding-top: 25px;
        padding-bottom: $padding-bottom-cart-item;
    }

    &__left {
        display: flex;
        gap: 31px;
    }

    &__img_height {
        height: 173px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
    }

    &__product-text {
        color: #888;
        font-size: 14px;
        font-weight: 400;
    }

    &__price {
        font-size: 16px;
        font-weight: 500;
    }

    &__link-box > a {
        color: $text-alt-color;
        font-size: 14px;
        font-weight: 300;
        line-height: 210%;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: none;
        text-underline-position: from-font;
    }

    &__link-box {
        display: flex;
        gap: 30px;
    }

    &__input {
        width: 69px;
        height: 49px;
        border: 1px solid $cart-border-color;
        border-radius: 6px;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 210%;
        outline: none;
        background:
            url("../img/asset_arrow-up.svg") no-repeat right 7px top 10px,
            url("../img/asset_arrow-down.svg") no-repeat right 7px bottom 10px;
        background-color: $cart-background-color;
    }

    &__input::-webkit-inner-spin-button {
        appearance: none;
    }

    &__btn-box {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        margin-top: ($margin-top-cart-btn-box - $padding-bottom-cart-item);
    }

    &__btn {
        width: 195px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $border-color-black;
        color: $text-alt-color;
        font-size: 14px;
        font-weight: 400;
        background-color: transparent;
    }

    &__btn:hover {
        background-color: $background-color-black;
        color: $text-main-color;
    }

    &__form {
        height: 556px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: span 4;
        border-radius: 20px;
        background-color: $cart-background-color;
    }

    &__order-text {
        font-size: 24px;
        font-weight: 700;
        margin-top: 42px;
        margin-bottom: 35px;
    }

    &__order {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    &__order-info {
        width: 288px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #cacdd8;
        box-sizing: border-box;
        outline: none;
        height: 17px;
        font-size: 14px;
        font-weight: 400;
    }

    &__total {
        display: flex;
        gap: 8px;
        margin-top: 64px;
    }

    &__text {
        font-size: 24px;
        font-weight: 300;
    }

    &__total-price {
        font-size: 24px;
        font-weight: 500;
    }

    &__offer-btn {
        width: 290px;
        height: 41px;
        font-size: 16px;
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid $border-color-black;
        margin-top: 18px;
    }

    &__offer-btn:hover {
        background-color: $background-color-black;
        color: $text-main-color;
    }
}
