$text-main-color: #ffffff;
$text-alt-color: #000000;
$text-color-lite-gray: #C4C4C4;
$border-color-lite-grey: #C4C4C4;
$border-color-black: #000000;
$background-color-black: #000000;
$cart-background-color: #f7f6f6;
$cart-border-color: #f7f6f6;

$padding-bottom-cart-item: 32px;
$margin-top-cart-btn-box: 50px;

$medium: 500;
$mobile-title-font-size: 48px;
$mobile-title-line-height: 59px;

$mobile-h2-font-size: 24px;
$mobile-h2-line-height: 29px;

$mobile-product-font-size: 18px;
$mobile-product-line-height: 22px;

$mobile-cart-product-text: 12px;
$mobile-cart-product-text-height: 15px;

$container-for-items-map: (
    "1": "../img/products/for-1.jpg",
    "2": "../img/products/for-2.jpg",
    "3": "../img/products/for-3.jpg",
    "4": "../img/products/for-4.jpg",
    "5": "../img/products/for-5.jpg",
);